@use '../_custom.scss' as *;

.cart {
  position: absolute;
  right: 0;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 95%;
  min-height: 250px;
  max-height: fit-content;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-shadow: 16px 20px 38px -11px rgba(0,0,0,0.44);
  display: flex;
  flex-direction: column;
  @media (min-width: 992px) {
    width: 400px;
    left: unset;
    right: 0;
    top: 100%;
    transform: unset;
    margin-top: -1rem;
  }

  .cart-heading,
  .product,
  .checkout-button,
  .empty {
    padding: 1rem .75rem;
  }

  .cart-heading {
    border-bottom: 1px solid $Grayish-blue;
    align-items: center;
  }

  .cart-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
/*   .content {
    display: none;
  } */

  .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .cart-img {
      border-radius: .5rem;
      width: 20%;
    }
    .text {
      span {
        margin-left: .5rem;
        color: $black;
      }
    }
  }

  .checkout-button {
    display: flex;
    align-items: center;
    justify-content: stretch;

    .custom-button {
      width: 100%;
      color: #fff;
    }
  }
  .empty {
    display: none;
  }
}
.nav-container {
  @media (min-width: 992px) {
    position: relative;
  }
}