@use '../_custom.scss' as *;

.navbar-custom {
  .navbar-gap {
    column-gap: 1rem;
  }
  .nav-border-bottom {
    border-bottom: 1px solid $Grayish-blue;
  }
  .nav-item-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-stretch {
    @media (min-width: 768px) {
      align-items: stretch !important;
    }
  }
  
  li.nav-item {
    border-bottom: 5px solid transparent;
  }
  
  li.nav-item:hover {
    border-bottom: $primary 5px solid;
    a.nav-link {
      color: $very-vark-blue;
    }
  }
  .cart-avatar-wrapper {
    display: flex;
    column-gap: 3rem;
  }
  .order-nav-elements {
    &.navbar-collapse {
      order: 1;
      @media (min-width: 768px) {
        order: 2;
      }
    }
    &.navbar-brand {
      order: 2;
      @media (min-width: 768px) {
        order: 1;
      }
    }
    &.cart-avatar-wrapper {
      order: 3;
    }
  }
  .navbar-toggler-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}



