@use '../_custom.scss' as *;
.product {
  @media (min-width: 576px) {
    margin-top: 3rem;
  }

  .outer-row,
  .inner-image-row,
  .thumnail-row {
    justify-content: center;
  }

  .image-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    @media (max-width: 576px) {
      padding: 0;
    }
  }

  .image-wrapper {
    width: 100%;
    padding: 0 .5rem;
    &:first-child {
      margin: 0 -.5rem;
    }
    &:last-child {
      @media (max-width: 576px) {
        display: none;
      }
    }
    @media (min-width: 576px) {
      width: 55%;
    }
  }

  .active-img {
    width: 100%;
    cursor: pointer;
    @media (min-width: 576px) {
      border-radius: .376rem;
    }
  }

  .thumbnail-img {
    width: 100%;
    border-radius: .376rem;
    border: 2px solid transparent;
    cursor: pointer;
    .active {
      border: 2px solid $primary;
    }
    &:hover {
      opacity: .5;
    }
  }
}

.modal-content {
  .image-wrapper {
    width: 80%;
    position: relative;
    &:last-child {
      width: 75%;
    }
    .prev {
      position: absolute;
      top: 50%;
      left: -1.15625rem;
      transform: translateY(-50%);
      padding: 1rem 1.15625rem;
      background-color: $white;
      border-radius: 50%;
      cursor: pointer;
      
    }
    .next {
      position: absolute;
      top: 50%;
      right: -1.15625rem;
      transform: translateY(-50%);
      padding: 1rem 1.15625rem;
      background-color: $white;
      border-color: none;
      background: none;
      border-radius: 50%;
      cursor: pointer;      
    }

    .modal-close-button {
      position: absolute;
      top: -1.7rem;
      right: .2rem;
      border: none;
      background: none;
    }
  }
}