.product {

  margin-top: 3rem;

  .outer-row,
  .inner-image-row,
  .thumnail-row {
    justify-content: center;
/*     align-items: center; */
  }

  .image-wrapper {
    width: 100%;
  }


  .inner-image-row {
    row-gap: 2rem;
  }

  .active-img {
    width: 100%;
    border-radius: 1rem;
  }

  .thumbnail-img {
    width: 100%;
    border-radius: 1rem;
  }
}