.custom-sidebar {
  div.offcanvas-body a.nav-link {
    color: inherit;
  }
  div.offcanvas-header {
    margin: 2.75rem 0;
  }
  div.container {
    @media (min-width: 576px) {
      padding-left: 4rem;
    }
    @media (min-width: 768px) {
      padding-left: 6rem;
    }
    @media (min-width: 990px) {
      padding-left: 12.5rem;
    }
  }
}