@use '../_custom.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&family=Kumbh+Sans:wght@700&display=swap');

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1, 
h2 {
  color: $very-vark-blue;
  font-weight: 700;
}
h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
h2 {
  font-size: 1rem;
}

p.subheading {
  color: $primary;
  font-weight: 700;
}

