
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&family=Kumbh+Sans:wght@700&display=swap');





// PRIMARY COLOR
$orange:  hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

$primary: $orange;

// GRAY COLOR VARIABLES

$very-vark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: #b6bcc8;
$Light-grayish-blue: hsl(223, 64%, 98%);
$lightbox-black: hsla(0, 0%, 0%, 0.75);

// CUSTOMIZE BODY COLOR
$body-color :$Grayish-blue;

$custom-colors: (
  "primary-light": $pale-orange,
  "very-vark-blue": $very-vark-blue,
  "dark-grayish-blue": $Dark-grayish-blue,
  "Grayish-blue": $Grayish-blue,
  "Light-grayish-blue": $Light-grayish-blue,
  "lightbox-black": $lightbox-black
);

// Merge the maps

@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/variables.scss';

$theme-colors: map-merge($theme-colors, $custom-colors);

// CUSTOMIZE NAVBAR

$link-color: $Grayish-blue;
$link-decoration: none;
$link-hover-color: $very-vark-blue; 
$navbar-brand-margin-end: 3rem;
$navbar-light-color: $Dark-grayish-blue;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg width='16' height='15' xmlns='http://www.w3.org/2000/svg'><path d='M16 12v3H0v-3h16Zm0-6v3H0V6h16Zm0-6v3H0V0h16Z' fill='#{$navbar-light-color}' fill-rule='evenodd'/></svg>");
$navbar-light-toggler-border-color: none;
$navbar-toggler-focus-width: 0;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;

// Offcanvas
$offcanvas-color: $black;
$offcanvas-backdrop-bg: $black;
$offcanvas-backdrop-opacity: .70; 
$offcanvas-horizontal-width: 75%;
$btn-close-bg: url("data:image/svg+xml,<svg width='14' height='15' xmlns='http://www.w3.org/2000/svg'><path d='m11.596.782 2.122 2.122L9.12 7.499l4.597 4.597-2.122 2.122L7 9.62l-4.595 4.597-2.122-2.122L4.878 7.5.282 2.904 2.404.782l4.595 4.596L11.596.782Z' fill='#{$navbar-light-color}' fill-rule='evenodd'/></svg>");
$btn-close-focus-shadow: none;
$offcanvas-padding-y: 0;
$offcanvas-padding-x: 0;

//Buttons
$btn-padding-y: 1rem;  
$btn-padding-x: 2rem;
$btn-border-radius: .75rem;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125); 

//MODAL 

$modal-content-bg:  none;
$modal-content-border-color: none;
$modal-content-border-width: 0;

$font-family-sans-serif: 'Kumbh Sans', sans-serif;

@import '../../node_modules/bootstrap/scss/bootstrap.scss'